.box {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 150px;
  overflow-y: auto;
}

.box span {
    display: inline-block;
    background-color: pink;
    border: 5px solid black;
    padding: 1em;
    margin: 10px 0;
}

.box1 {
    box-sizing: content-box;
}

.box2 {
    box-sizing: border-box;
    border: 5px dotted black;
    margin: 20px 3em 40px 2em;
    padding: 1em;
}

section {
    max-width: 1200px;
    margin: 20px auto;
    border: 1px solid rgb(11, 102, 155);
    padding: 20px;
}