@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css");
html {
    font-size: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background: linear-gradient(to right, #01d9ff 5%, #0adbdb 17%, #39b8b8 40%, #158291 85%, #05505a 95%);
}

h1 {
    font-size: 1.45rem;
}

h2 {
    font-size: 1.3rem;
}

h1,
h2,
h3 {
    font-weight: 700;
    color: gray;
}

#main {
    color: #e60202;
}

.h2 {
    color: red;
}

.heading {
    color: green;
}

div {
    font-size: 1em;
}

span {
    font-size: 1.6em;
}

strong {
    font-size: 1.6rem;
}

.list-unstyled {
    list-style: none;
}

.footer-social {
}

.negative {
    background: linear-gradient(to left, #aec1db -50%, #548bc9 -10%, #215dbf 0%, #0f2b87 100, #03113f 150%);
}

.percents {
    background: linear-gradient(
        to bottom,
        #d8f3dc 2em,
        #b7e4c7 4em,
        #95d5b2 8em,
        #52b788 16em,
        #40916c 32em,
        #1b4332 64em,
        #081c15 128em
    );
}

.radial {
    background:
        radial-gradient(ellipse at top, orange, transparent), radial-gradient(ellipse at bottom, red, transparent);
}
